<% @survey.each do |question| %>
	<form method="POST" action="<%= responses_url %>">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="response[choice_ids][]" value="">
		<ul>
			<li><%= h(question.body) %></li>
			<li>
				<ul>
					<% question.choices.each do |choice| %>
						<!-- TODO: THIS SHOULD BE CACHED!! -->
						<li>
							<input type="checkbox"
										 name="response[choice_ids][]"
										 value="<%= choice.id %>"
										 <%= current_user.responses.map(&:choice_id).include?(choice.id) ? "checked" : "" %>>
							<%= h(choice.body) %>
						</li>
					<% end %>
				</ul>
			</li>
		</ul>
		<button type="submit">Submit</button>
	</form>
<% end %>

<script>
// TODO: Make only one question show up at a time
</script>