<button class="<%= current_user.previous_questions.count == 0 ? 'hidden' : '' %>" id="back-button">Back</button>

<% unless current_user.current_question_id  && current_user.current_question_id > 0
	current_user.update_attribute(:current_question_id, 1)
	end %>

<% @survey.each do |question| %>
	<form method="POST" action="<%= responses_url %>" class="<%= question.id == current_user.current_question_id ? '' : 'hidden' %>">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="response[choice_ids][]" value="">
		<ul>
			<li><%= h(question.body) %></li>
			<li>
				<ul>
					<% question.choices.each do |choice| %>
						<!-- TODO: THIS SHOULD BE CACHED!! -->
						<li>
							<input type="checkbox"
										 name="response[choice_ids][]"
										 value="<%= choice.id %>"
										 <%= current_user.responses.map(&:choice_id).include?(choice.id) ? "checked" : "" %>>
							<%= h(choice.body) %>
						</li>
					<% end %>
				</ul>
			</li>
		</ul>
		<button type="submit">Submit</button>
	</form>
<% end %>

<!-- <button id="delete-button">I don't want to see this question anymore.</button> -->
<button class="<%= current_user.next_questions.count == 0 ? 'hidden' : '' %>" id="skip-button">Skip</button>

<script>
console.log(<%= request.path %>);

	document.getElementById("back-button").addEventListener("click", function(event) {
		event.preventDefault();
		<% current_user.decrement_current_question %>
		window.history.pushState("", "", "/1234");
		event.currentTarget.className = <%= current_user.previous_questions.count == 0 ? 'hidden' : '' %>;
	});

	document.getElementById("skip-button").addEventListener("click", function(event) {
		event.preventDefault();
		<% current_user.increment_current_question %>
		window.history.pushState("", "", "/1234");
		event.currentTarget.className = <%= current_user.next_questions.count == 0 ? 'hidden' : '' %>;
	});

	// document.getElementById("delete-button").addEventListener("click", function(event) {
	// 	event.preventDefault();
	// 	<#% current_user.delete_current_question %>
	// 	window.history.pushState("", "", "/1234");
	// 	event.currentTarget.className = <%= current_user.next_questions.count == 0 ? 'hidden' : '' %>;
	// });
</script>