<button class="<%= current_user.previous_questions.count == 0 ? 'hidden' : '' %>" id="back-button">Back</button>

<% unless current_user.current_question_id  && current_user.current_question_id > 0
	current_user.update_attribute(:current_question_id, 1)
	end %>

<% @survey.each do |question| %>
	<form method="POST"
				data-question-id="<%= question.id %>"
				action="<%= responses_url %>"
				class="<%= question.id == current_user.current_question_id ?
																	'active' : (question.id > current_user.current_question_id ? 'right hidden' : 'left hidden' )%>">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<ul>
			<li><%= h(question.body) %></li>
			<li>
				<ul>
					<% question.choices.each do |choice| %>
						<!-- TODO: THIS SHOULD BE CACHED!! -->
						<li>
							<input type="radio"
										 name="response[choice_id]"
										 value="<%= choice.id %>"
										 <%= current_user.responses.map(&:choice_id).include?(choice.id) ? "checked" : "" %>>
							<%= h(choice.body) %>
						</li>
					<% end %>
				</ul>
			</li>
		</ul>
		<!-- <button type="submit">Submit</button> -->
	</form>
<% end %>

<!-- <button id="delete-button">I don't want to see this question anymore.</button> -->
<button class="<%= current_user.next_questions.count == 0 ? 'hidden' : '' %>" id="skip-button">Skip</button>

<script>
	(function() {
		var currentForm = document.getElementsByClassName("active")[0];
		var allForms = document.getElementsByTagName("form");

		document.getElementById("back-button").addEventListener("click", function(event) {
			event.preventDefault();

			var leftForms = document.getElementsByClassName("left")
			var leftForm = leftForms[leftForms.length - 1];
			if(!leftForm) {
				return;
			}
			
			var xhr = new XMLHttpRequest();
			xhr.open('PATCH', "<%= user_url(current_user) %>?current_question_id=" + leftForm.getAttribute("data-question-id"), true);
			xhr.setRequestHeader('X-CSRF-Token', "<%= form_authenticity_token %>");
		  xhr.onload = function(event) {
		    if (xhr.status === 200) {
		    	var res = JSON.parse(xhr.response);
					window.history.pushState("", "", "/survey/" + res.current_question_id);
					event.currentTarget.className = res.previous_question_count ? '' : 'hidden';
					document.getElementsByClassName("active")[0].className = "right hidden";
					leftForm.className = "active";
		    }
		  };

		  xhr.send();
		});

		document.getElementById("skip-button").addEventListener("click", function(event) {
			var rightForms = document.getElementsByClassName("right")
			var rightForm = rightForms[0];
			if(!rightForm) {
				return;
			}
			
			var xhr = new XMLHttpRequest();
			xhr.open('PATCH', "<%= user_url(current_user) %>?current_question_id=" + rightForm.getAttribute("data-question-id"), true);
			xhr.setRequestHeader('X-CSRF-Token', "<%= form_authenticity_token %>");
		  xhr.onload = function(event) {
		    if (xhr.status === 200) {
		    	var res = JSON.parse(xhr.response);
					window.history.pushState("", "", "/survey/" + res.current_question_id);
					event.currentTarget.className = res.next_question_count ? '' : 'hidden';
					document.getElementsByClassName("active")[0].className = "left hidden";
					rightForm.className = "active";
		    }
		  };

		  xhr.send();
		});

		document.addEventListener("click", function(event) {
			if(event.currentTarget.tagName === "INPUT") {
				var choiceId = event.currentTarget.value;

				var xhr = new XMLHttpRequest();
				xhr.open('POST', "<%= responses_url %>?choice_id=" + choiceId);
				xhr.setRequestHeader('X-CSRF-Token', "<%= form_authenticity_token %>");
			  xhr.send();
		  }
		});

	})();

	// document.getElementById("delete-button").addEventListener("click", function(event) {
	// 	event.preventDefault();
	// 	<#% current_user.delete_current_question %>
	// 	window.history.pushState("", "", "/1234");
	// 	event.currentTarget.className = <%= current_user.next_questions.count == 0 ? 'hidden' : '' %>;
	// });
</script>