<button class="<%= current_user.previous_questions.count == 0 ? 'hidden' : '' %>" id="back-button">Back</button>

<% unless current_user.current_question_id  && current_user.current_question_id > 0
	current_user.update_attribute(:current_question_id, 1)
	end %>

<% @survey.each do |question| %>
	<form method="POST"
				data-question-id="<%= question.id %>"
				action="<%= responses_url %>"
				class="<%= question.id == current_user.current_question_id ?
																	'active' : (question.id > current_user.current_question_id ? 'right hidden' : 'left hidden' )%>">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="hidden" name="response[choice_ids][]" value="">
		<ul>
			<li><%= h(question.body) %></li>
			<li>
				<ul>
					<% question.choices.each do |choice| %>
						<!-- TODO: THIS SHOULD BE CACHED!! -->
						<li>
							<input type="checkbox"
										 name="response[choice_ids][]"
										 value="<%= choice.id %>"
										 <%= current_user.responses.map(&:choice_id).include?(choice.id) ? "checked" : "" %>>
							<%= h(choice.body) %>
						</li>
					<% end %>
				</ul>
			</li>
		</ul>
		<button type="submit">Submit</button>
	</form>
<% end %>

<!-- <button id="delete-button">I don't want to see this question anymore.</button> -->
<button class="<%= current_user.next_questions.count == 0 ? 'hidden' : '' %>" id="skip-button">Skip</button>

<script>
	(function() {
		var currentForm = document.getElementsByClassName("active")[0];
		var allForms = document.getElementsByTagName("form");

		document.getElementById("back-button").addEventListener("click", function(event) {
			event.preventDefault();

			var leftForms = document.getElementsByClassName("left")
			var leftForm = leftForms[leftForms.length - 1];
			if(!leftForm) {
				return;
			}
			
			console.log(leftForm.getAttribute("data-question-id"));
			var xhr = new XMLHttpRequest();
			xhr.open('PATCH', "<%= user_url(current_user) %>?current_question_id=" + leftForm.getAttribute("data-question-id"), true);
			xhr.setRequestHeader('X-CSRF-Token', "<%= form_authenticity_token %>");
		  xhr.onload = function(event) {
		    if (xhr.status === 200) {
		    	var res = JSON.parse(xhr.response);
					window.history.pushState("", "", "/survey/" + res.current_question_id);
					event.currentTarget.className = res.previous_question_count ? '' : 'hidden';
					document.getElementsByTagName("active").className = "right hidden";
					leftForm.className = "active";
		    }
		  };


		    // } else {
		    //   oOutput.innerHTML = "Error " + oReq.status + " occurred uploading your file.<br \/>";
		  xhr.send();
			// $.ajax({
			// 	url: ,
			// 	type: "PATCH",
			// 	data: {
					
			// 	},
			// 	success: function(data) {

			// 	}
			// });

		});

	// 	document.getElementById("skip-button").addEventListener("click", function(event) {
	// 		event.preventDefault();

	// 		var $rightForm = $("form.right")[0];
	// 		if(!$rightForm) {
	// 			return;
	// 		}

	// 		$.ajax({
	// 			url: "<%= user_url(current_user) %>",
	// 			type: "PATCH",
	// 			data: {
	// 				current_question_id: $leftForm.data("question-id")
	// 			},
	// 			success: function(data) {
	// 				window.history.pushState("", "", "/survey/" + data.current_question_id);
	// 				event.currentTarget.className = data.next_question_count ? '' : 'hidden';
	// 			}
	// 		});
	// 	});

	})();

	// document.getElementById("delete-button").addEventListener("click", function(event) {
	// 	event.preventDefault();
	// 	<#% current_user.delete_current_question %>
	// 	window.history.pushState("", "", "/1234");
	// 	event.currentTarget.className = <%= current_user.next_questions.count == 0 ? 'hidden' : '' %>;
	// });
</script>