<!DOCTYPE html>
<html>
<head>
  <title>State Of Your Friends</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
</head>
<body>

<% if logged_in? %>
	<form method="POST" action="<%= session_url %>">
		<input type="hidden" name="_method" value="DELETE">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<button>Sign out</button>
	</form>
<% end %>

<%= yield %>

</body>
</html>
